*{
    margin: 0%;
    padding: 0%;
}

#FontCSS{
    font-family: 'Zen Loop', cursive;
    font-variant: small-caps;
    font-size: 48px;
    font-style: italic;
    font-weight: 900;
    color: brown;
    letter-spacing: 1px;
    word-spacing: 3px;
    direction: ltr;
    text-align: left;
    text-indent: 95px;
    text-transform: lowercase;
}