*{
    margin:0;
    padding:0;
    font-family:verdana;
  }

  body{
      background-color: white;
  }

  footer{
      background-color: rgb(0, 0, 255);
      color: whitesmoke ;
      padding-top: 10px;
  }

#img-1{
  height: 40%;
  width: auto;
  padding-top: 20px;
}
#img-2{
  height: 40%;
  width: auto;
  padding-top: 20px;
}
#img-3{
  height: 40%;
  width: auto;
  padding-top: 20px;
}

.parent{
  position: relative;
}
.over-img{
  height: 80vh;
  position: absolute;
  top: 80%;
  opacity: 1;
  right: 10%;
}

.child{
  height: 50px;
  width: 20px;
  position: absolute;
  
}
.container #section-1 .container .row .col-3{
  position: relative;
}

.container #section-1 .container .row .col-3 #bottom-image{
  position: absolute;
  bottom: 0px;
}

.container #section-1 .container .row .col-4{
  position: relative;
}

.container #section-1 .container .row #card-up{
  position: absolute;
  top: 20%;
}

.container #section-1 .container .row .col-5{
  position: relative;
}

.container #section-1 .container .row .col-5 #iamge-bottom-section1{
  position: absolute;
  right: 0px;
}

footer{
  height: 250px;
  width: 100%;
}

.container-fluid{
  overflow: hidden;
  }

  .row .col-6 {
    position: relative;
  }


.row .col-6 #nichekr{
  position: absolute;
  bottom: 0;
  right: 0;
}

.text-center{
  padding-top: 10px;
}

#section-1 .container .row .col-3 {
  position: relative;
}

#section-1 .container .row .col-3 img{
  position: absolute;
}


#section-1 .container .row .col-4 {
  position: relative;
}

#section-1 .container .row .col-4 .card {
  position: absolute;
}

#section-1 .container .row .col-5 {
  position: relative;
}

#section-1 .container .row .col-5 #card-up {
  position: absolute;
  top: 0% ;
}
#section-1 .container .row .col-5 #card-bottom {
  position: absolute;
  bottom: 0%;
}

#container {
  position:relative;
}

#img1{
  position: relative;
  width: 100%;
  height: 100vh;
  opacity: 0.2;
}

#img2 {
  height: auto;
  width: 30vw;
  position: absolute;
  right: 80px;
  top: 80px;
}

#img3{
  position: absolute;
  left: 0%;
  top: 350px;
  width: 10vw;
  height: auto;
  margin-left: 50px;
}

nav{
  width: 100%;
  height: 50px;
  background-color: transparent;
  line-height: 50px;
  position: absolute;
  color: black;
}
nav ul{
  float: right;
  margin-right: 30px;
}
nav ul li{
  list-style-type: none;
  display: inline-block;
  transition: 0.7s all;
}
nav img{
  width: auto;
  height: 5vh;
  margin: 20px;
  margin-left: 50px;
}
nav ul li:hover{
  background-color:#088;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
  padding: 30px;
}

#h3{
  position: absolute;
  margin-left: 50px;
  top: 200px;

}

#p{
  position: absolute;
  margin-left: 50px;
  top: 250px;
  width: 50vw;
}